@model IEnumerable<WebBlotter.Models.SP_GetSBPBlotterGH_Result>

@{
    ViewBag.Title = "Gazetted Holidays";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    #customers {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        font-size: 11px;
        border-collapse: collapse;
        width: 90%;
        min-width: 800px;
        max-width: 1500px;
    }

        #customers td, #customers th {
            border: 1px solid #ddd;
            padding: 2px;
            font-size: 10.5px;
        }

        #customers tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        #customers tr:hover {
            background-color: #ddd;
        }

        #customers th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #4CAF50;
            color: white;
        }

    table, th, td {
        border: 1px solid black;
    }
</style>


<h2>Blotter Holidays</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>


<table id="customers" class="table table-striped table-bordered table-hover ">
    <thead>
        <tr>
            <th>Holiday Title</th>
            <th>Description</th>
            <th>Date</th>
            <th></th>
        </tr>
    </thead>
    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <tr>
                <td width="8%">@Html.DisplayFor(modelItem => item.HolidayTitle)</td>
                <td width="8%">@Html.DisplayFor(modelItem => item.GHDescription)</td>
                <td width="10%" align="right">@Html.DisplayFor(modelItem => item.GHDate)</td>
                <td width="18%">
                    @Html.ActionLink("Edit", "Edit", new { id = item.GHID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.GHID })
                </td>
            </tr>
        }
    }
</table>
