@*@model IEnumerable<WebBlotter.Models.SP_SBPBlotter_Result>*@
@model WebBlotter.ViewModel.BlotterMultiModel

@{
    ViewBag.Title = "All Blotter Amount Are In PKR";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <style class="init">
        #totalMe {
            font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
            font-size: 11px;
            border-collapse: collapse;
            width: 90%;
            min-width: 800px;
            max-width: 1500px;
        }

            #totalMe td, #totalMe th {
                border: 1px solid #ddd;
                padding: 2px;
                font-size: 12px;
            }

            #totalMe tr:nth-child(even) {
                background-color: #f2f2f2;
            }

            #totalMe tr:hover {
                background-color: #ddd;
            }

            #totalMe th {
                padding-top: 12px;
                padding-bottom: 12px;
                text-align: left;
                background-color: #4CAF50;
                color: white;
            }
    </style>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <style type="text/css" class="init">
    </style>
    
    <script src="../Scripts/jquery-3.4.1.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
            integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
            crossorigin="anonymous"></script>
    <script type="text/javascript" language="javascript" src="//cdn.datatables.net/plug-ins/1.10.15/api/sum().js"></script>

    <script>
        $(function () {
            $("#chkAll").change(function () {
                $('tbody tr td input[type="checkbox"]').prop('checked', $(this).prop('checked'));
            });
        });
    </script>
</head>

<body class="wide comments example">
    <!--Search -->
    @using (Html.BeginForm(Session["ActiveController"].ToString(), Session["ActiveAction"].ToString(), FormMethod.Post))
    {
        @Html.AntiForgeryToken();
        <div class="row">
            <br />
            <div class="col-md-2">
                <input id="BlotterCurrentDateId" name="BlotterCurrentDate" type="date" value="@ViewBag.CurrentDt" class="form-control datepicker text-box single-line" />
            </div>
            @if (Convert.ToInt32(Session["SelectedCurrency"]) > 1)
            {
                @*<div class="col-md-2">
                        <label class="control-label">Select Bank</label>
                    </div>*@
                <div class="col-md-4">
                    <select name="Nostro_Bank" class="form-control">
                        @if (ViewBag.NostroBanksDDL != null)
                        {
                            <option value="">All</option>
                            foreach (var item in ViewBag.NostroBanksDDL)
                            {
                                if (ViewBag.BankCode == item.BankCode)
                                {
                                    <option value="@item.BankCode" selected>@item.BankName</option>
                                }
                                else
                                {
                                    <option value="@item.BankCode">@item.BankName</option>
                                }
                            }
                        }
                    </select>
                </div>
            }
            <div class="col-md-2">
                <input type="submit" class="btn btn-success" style="width: 200px" name="Save" value="Search" />
            </div>
        </div>
        @*<div class="btn-group d-inline my-2 my-lg-0 navbar-right" style="margin-right: 10px !important;" role="group">
                <input id="BlotterCurrentDateId" name="BlotterCurrentDate" type="date" value="@ViewBag.CurrentDt" onchange="this.form.submit()" class="form-control datepicker text-box single-line" />
            </div>*@
    }
    <!--Search -->
    @if (Convert.ToInt32(Session["SelectedCurrency"]) > 1)
    {
        <div class="row">

            <div class="col-md-5">
                <label class="control-label">

                    @foreach (var item in ViewBag.NostroBanksDDL)
                    {
                        if (item.BankCode == ViewBag.BankCode)
                        {
                            <p>Nostro Bank : @item.BankName</p>
                        }
                    }
                </label>
            </div>
        </div>
    }
    <div class="fw-container" style="margin-top:50px;">
        <a name="top" id="top"></a>
        <h3>SBP Blotter As On @ViewData["SysCurrentDt"]</h3>

        @if (ViewBag.SBP_BlotterOpeningBalaceForToday != null && Convert.ToInt32(Session["SelectedCurrency"]) == 1)
        {
            <div class="row">
                <div class="col-md-2">
                    <b>Actual Opn Bal: </b><input type="text" id="ActualOpnBal" class="form-control" onkeyup="return TotalOpeningBal()" readonly value="@ViewBag.SBP_BlotterOpeningBalaceForToday.OpenBalActual.ToString("#,##0,,")" />
                </div>
                <div class="col-md-1" style="padding-top: 25px; width: 0% !important;">
                    <b>-</b>
                </div>
                <div class="col-md-2">
                    <b>Estimated Opn Bal:</b><input type="text" id="EstOpnBal" class="form-control" onkeyup="return TotalOpeningBal()" readonly value="@ViewBag.SBP_BlotterOpeningBalaceForToday.EstimatedOpenBal.ToString("#,##0,,")" />
                </div>
                <div class="col-md-1" style="padding-top: 25px; width: 0% !important;">
                    <b>=</b>
                </div>
                <div class="col-md-2">
                    <b>Difference:</b><input type="text" id="TotalOpnBal" class="form-control" style="font-size: 16px; color:black; border:0px solid white" readonly value="@((ViewBag.SBP_BlotterOpeningBalaceForToday.OpenBalActual-ViewBag.SBP_BlotterOpeningBalaceForToday.EstimatedOpenBal).ToString("#,##0,,"))" />
                </div>
                <div class="col-md-1" style="padding-top: 25px; width: 0% !important;">
                    <b>@((ViewBag.SBP_BlotterOpeningBalaceForToday.OpenBalActual - ViewBag.SBP_BlotterOpeningBalaceForToday.EstimatedOpenBal) > 0 ? "Surplus" : ((ViewBag.SBP_BlotterOpeningBalaceForToday.OpenBalActual - ViewBag.SBP_BlotterOpeningBalaceForToday.EstimatedOpenBal) < 0) ? "Deficit" : "")</b>
                </div>
            </div>
        }

        <div class="fw-body">

            @if ((Model.GetAllBlotter01 != null && Model.GetAllBlotter01.Count > 0) || (Model.GetAllBlotterFCY01 != null && Model.GetAllBlotterFCY01.Count > 0))
            {
                using (Html.BeginForm("_Create", "Blotter", FormMethod.Post))
                {
                    <div class="content">
                        <div class="info">
                        </div>
                        <script>
                            var OpeningB = 0;
                            var count = 0;
                            var OpeningB1 = 0;
                        </script>

                        <table id="totalMe" class="table table-striped table-bordered table-hover display">
                            <thead>
                                <tr>
                                    <th>DealNo</th>
                                    <th>Description</th>
                                    <th>Status</th>
                                    <th>Inflow</th>
                                    <th>Outflow</th>
                                    <th>Balance</th>
                                    <th><input type="checkbox" id="chkAll" name="chkAll" /></th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.GetAllBlotter01 != null)
                                {
                                    //foreach (var item in Model.GetAllBlotter01)
                                    for (int i = 0; i < Model.GetAllBlotter01.Count(); i++)
                                    {

                                        <tr style='background-color: @(Model.GetAllBlotter01[i].Recon_IsActive == true ? "limegreen" : "white");'>

                                            <td name="DealNo">
                                                @Html.HiddenFor(x => x.GetAllBlotter01[i].DEALNO)
                                                @Html.DisplayFor(x => x.GetAllBlotter01[i].DEALNO)
                                            </td>
                                            <td name="Description">
                                                @Html.HiddenFor(x => x.GetAllBlotter01[i].Description)
                                                @Html.DisplayFor(x => x.GetAllBlotter01[i].Description)
                                            </td>
                                            <td name="Status">
                                                @Html.HiddenFor(x => x.GetAllBlotter01[i].Status)
                                                @Html.DisplayFor(x => x.GetAllBlotter01[i].Status)
                                            </td>
                                            <td align="right" class="sum" id="Inflow" name="Inflow">
                                                @Html.HiddenFor(x => x.GetAllBlotter01[i].Inflow)
                                                @*@Html.DisplayFor(modelItem => item.Inflow)*@
                                                <script>
                                                    var DailyAmt = parseFloat(@Model.GetAllBlotter01[i].Inflow);
                                                    var PAmount = (DailyAmt);
                                                    document.write(PAmount.toLocaleString('en-CA'));
                                                </script>
                                            </td>
                                            <td align="right" class="sum1" name="Outflow">
                                                @Html.HiddenFor(x => x.GetAllBlotter01[i].Outflow)
                                                @*@Html.DisplayFor(modelItem => item.Outflow)*@
                                                <script>
                                                    var DailyAmt = parseFloat(@Model.GetAllBlotter01[i].Outflow);
                                                    var PAmount = (DailyAmt);
                                                    document.write(PAmount.toLocaleString('en-CA'));
                                                </script>
                                            </td>
                                            <td align="right" class="sum3">
                                                <input type="hidden" id="OpeningBalance_@i" name="OpeningBalance[@i]" />
                                                <script>
                                                    if (count == 0) {
                                                        OpeningB = @Model.GetAllBlotter01[i].OpeningBalance;
                                                        OpeningB1 = parseFloat(OpeningB);
                                                    }
                                                    var sum = 0;
                                                    var sumIn = "";
                                                    $('#totalMe .sum').each(function () {
                                                        sumIn = this.innerText;
                                                        sumIn = sumIn.replace(/\,/g, '');
                                                        sum += parseFloat(sumIn);
                                                    });

                                                    var sum1 = 0;
                                                    var sumOut = "";
                                                    var sumBal = 0;
                                                    $('#totalMe .sum1').each(function () {
                                                        sumOut = this.innerText;
                                                        sumOut = sumOut.replace(/\,/g, '');
                                                        sum1 += parseFloat(sumOut) //+OpeningB1;
                                                    });

                                                    sumBal = (sum1 + sum + OpeningB1);
                                                    document.write(sumBal.toLocaleString('en-CA'));
                                                    count = count + 1;
                                                    $('#OpeningBalance_'+@i).val(sumBal);

                                                </script>
                                            </td>
                                            <td>
                                                @if (Model.GetAllBlotter01[i].Recon_IsActive == true)
                                                {
                                                    <input type="checkbox" name="CheckLCY[@i]" id="CheckLCY" checked />
                                                }
                                                else
                                                {
                                                    <input type="checkbox" name="CheckLCY[@i]" id="CheckLCY" />
                                                }


                                            </td>
                                        </tr>
                                    }
                                }
                                else if (Model.GetAllBlotterFCY01 != null)
                                {
                                    //foreach (var item in Model.GetAllBlotterFCY01)
                                    for (int i = 0; i < Model.GetAllBlotterFCY01.Count(); i++)
                                    {
                                        <tr style='background-color: @(Model.GetAllBlotterFCY01[i].Recon_IsActive == true ? "limegreen" : "white");'>

                                            <td name="DealNo">
                                                @Html.HiddenFor(x => x.GetAllBlotterFCY01[i].DealNo)
                                                @Html.DisplayFor(x => x.GetAllBlotterFCY01[i].DealNo)
                                            </td>
                                            <td name="Description">
                                                @Html.HiddenFor(x => x.GetAllBlotterFCY01[i].Description)
                                                @Html.DisplayFor(x => x.GetAllBlotterFCY01[i].Description)
                                            </td>
                                            <td name="Status">
                                                @Html.HiddenFor(x => x.GetAllBlotterFCY01[i].Status)
                                                @Html.DisplayFor(x => x.GetAllBlotterFCY01[i].Status)
                                            </td>
                                            <td align="right" class="sum" id="Inflow" name="Inflow">
                                                @Html.HiddenFor(x => x.GetAllBlotterFCY01[i].Inflow)
                                                @*@Html.DisplayFor(modelItem => item.Inflow)*@
                                                <script>
                                                    var DailyAmt = parseFloat(@Model.GetAllBlotterFCY01[i].Inflow);
                                                    var PAmount = (DailyAmt);
                                                    document.write(PAmount.toLocaleString('en-CA'));
                                                </script>
                                            </td>
                                            <td align="right" class="sum1" name="Outflow">
                                                @Html.HiddenFor(x => x.GetAllBlotterFCY01[i].Outflow)
                                                @*@Html.DisplayFor(modelItem => item.Outflow)*@
                                                <script>
                                                    var DailyAmt = parseFloat(@Model.GetAllBlotterFCY01[i].Outflow);
                                                    var PAmount = (DailyAmt);
                                                    document.write(PAmount.toLocaleString('en-CA'));
                                                </script>
                                            </td>
                                            <td align="right" class="sum3">
                                                <input type="hidden" id="OpeningBalance_@i" name="OpeningBalance[@i]" />
                                                @*@Html.HiddenFor(m => m.GetAllBlotterFCY01[i].OpeningBalance, new { @id = "hiddeninputname" } )*@
                                                <script>
                                                    if (count == 0) {
                                                        OpeningB =@Model.GetAllBlotterFCY01[i].OpeningBalance;
                                                        OpeningB1 = parseFloat(OpeningB);
                                                    }
                                                    var sum = 0;
                                                    var sumIn = "";
                                                    $('#totalMe .sum').each(function () {
                                                        sumIn = this.innerText;
                                                        sumIn = sumIn.replace(/\,/g, '');
                                                        sum += parseFloat(sumIn);
                                                    });

                                                    var sum1 = 0;
                                                    var sumOut = "";
                                                    var sumBal = 0;
                                                    $('#totalMe .sum1').each(function () {
                                                        sumOut = this.innerText;
                                                        sumOut = sumOut.replace(/\,/g, '');
                                                        sum1 += parseFloat(sumOut) //+OpeningB1;
                                                    });
                                                    sumBal = (sum1 + sum + OpeningB1);
                                                    document.write(sumBal.toLocaleString('en-CA'));
                                                    count = count + 1;
                                                    $('#OpeningBalance_'+@i).val(sumBal);
                                                    //alert(sumBal);
                                                    //alert('#OpeningBalance[' + @i+']');
                                                    //document.getElementsByName("OpeningBalance").value = sumBal;
                                                    //var x = $('#OpeningBalance_'+@i).val();
                                                </script>
                                            </td>
                                            <td>
                                                @if (Model.GetAllBlotterFCY01[i].Recon_IsActive == true)
                                                {
                                                    <input type="checkbox" name="CheckFCY[@i]" id="CheckFCY_@i" checked />
                                                }
                                                else
                                                {
                                                    <input type="checkbox" name="CheckFCY[@i]" id="CheckFCY_@i" />
                                                }

                                            </td>
                                        </tr>
                                    }
                                }
                                @if (Model.GetAllBlotterFCY01 != null || Model.GetAllBlotter01 != null)
                                {
                                    <tr>
                                        <td>Closing Balance</td>
                                        <td></td>
                                        <td></td>
                                        <td align="right" id="Inflow">
                                            <span style="font-weight:bold">
                                                <script>
                                                    var sum = 0;
                                                    $('#totalMe .sum').each(function () {
                                                        sum += parseFloat(this.innerText.replace(/\,/g, ''));
                                                    });
                                                    document.write(sum.toLocaleString('en-CA'));

                                                </script>
                                            </span>
                                        </td>
                                        <td align="right" id="Outflow">
                                            <span style="font-weight:bold">
                                                <script>
                                                    var sum1 = 0;
                                                    $('#totalMe .sum1').each(function () {
                                                        sum1 += parseFloat(this.innerText.replace(/\,/g, ''));
                                                    });
                                                    document.write(sum1.toLocaleString('en-CA'));

                                                </script>
                                            </span>
                                        </td>
                                        <td align="right" id="Bal">
                                            <span style="font-weight:bold">
                                                <script>
                                                    var sum2 = sum1 + sum + OpeningB1;
                                                    //$('#totalMe .sum3').each(function () {
                                                    //    sum2 += parseFloat(this.innerText.replace(/\,/g, ''));
                                                    //});
                                                    //var sumBal =  sum
                                                    document.write(sum2.toLocaleString('en-CA'));
                                                </script>
                                            </span>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <input type="submit" class="btn btn-success" style="width: 200px" name="Save" value="Save" />
                }
            }
            else
            {
                <h3>@TempData["DataStatus"]</h3>
                <br />
                <br />
            }
        </div>
    </div>

    <script type="text/javascript">


        function formatDate(date) {
            var d = new Date(date),
                month = '' + (d.getMonth() + 1),
                day = '' + d.getDate(),
                year = d.getFullYear();

            if (month.length < 2) month = '0' + month;
            if (day.length < 2) day = '0' + day;

            return [month, day, year].join('/');
        }

    </script>

    <div>
        @if ((Model.GetAllBlotter01 != null && Model.GetAllBlotter01.Count > 0) || (Model.GetAllBlotterFCY01 != null && Model.GetAllBlotterFCY01.Count > 0))
        {
            using (Html.BeginForm("SendEmail", "Blotter", FormMethod.Post))
            {
                <div class="form-group">
                    @Html.HiddenFor(m => m.SendEmail01.Inflow, new { @Value = 0 })
                    @Html.HiddenFor(m => m.SendEmail01.Outflow, new { @Value = 0 })
                    @*@Html.HiddenFor(m => m.SendEmail01.Balance, new { @Value = 0  })*@

                </div>
                <div class="form-group">
                    <div>
                        <input type="submit" value="Confirm & Send E-Mail" class="primary-btn1" />
                    </div>
                </div>
            }
        }
    </div>
</body>

</html>
