@model WebBlotter.Models.SP_SBPOpicsSystemDate_Result 

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>FX BLOTTER SPA</title>
    <link href="Content/bootstrap.css" rel="stylesheet" />

    <script src="../Scripts/jquery-3.4.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" charset="utf8" src="../Scripts/jquery-3.3.1.js"></script>
</head>
<body>
    <div class="container">

        <div class="page-header">
            <h1>
                Welcome @Session["UserName"].ToString()
                <hr />
                @*BLOTTER @ViewData["SysCurrentDt"]*@

                @*<small><span data-bind="text: genre"></span></small>*@
            </h1>

        </div>
        <!--<div class="row">
        <div class="span2">
            <div class="navbar">
                <div class="navbar-inner">
                    <li><a href="http://localhost:1392/blotter/GetAllBlotter">Blotter</a></li>
                    <li><a href="http://localhost:1392/BlotterManualDeals/GetAllManualDeals">Blotter Manual Deals</a></li>
                    <li><a href="http://localhost:1392/blottersetup/GetAllSetupItems">Blotter SetUp</a></li>
                    <li><a href="http://localhost:1392/BlotterOpening/GetAllOpeningAmt">Blotter Opening Position</a></li>
                    <li><a href="http://localhost:1392/BlotterDTL/GetAllDTLDeals">Blotter DTL Amount</a></li>
                    <li><a href="http://localhost:1392/BlotterDTLDB/GetBlotterDTLDB">Blotter DTL DashBoard</a></li>
                </div>
            </div>
        </div>
    </div>-->


        <div class="row">
            <div class="col-md-12">
                <h3>Amount in Million</h3>
                <table id="BlotterDTLReportDayWise" class="table table-striped table-bordered table-hover ">
                    <thead>
                        <tr>
                            <th>Date </th>
                            <th>Week Day</th>
                            @*<th>Karachi</th>*@
                            <th>CRR 5% Requirement</th>
                            <th>Amount Balance Maintained-Pakistan</th>
                            <th>Balance Maintained in %age</th>
                            @*<th>Balance Maintained in 3%</th>*@
                            <th>Long/(short) in 5% Amount</th>
                            @*<th>CRR 3% Requirement</th>*@
                            <th>Long/(short) in 3% Amount</th>
                            <th>AvgForRemDays</th>
                            <th>Reserve/Surplus as per 5%</th>
                            <th>Reserve</th>
                            <th>Remarks</th>
                            @*<th>Penalty</th>*@
                        </tr>
                    </thead>
                    <tbody>
                        @if (ViewBag.SBP_BlotterCRRReportDaysWiseBal != null)
                        {
                            foreach (var item in ViewBag.SBP_BlotterCRRReportDaysWiseBal)
                            {
                        <tr>
                            <td align="left" width="8%">@item.ReportDate.ToString("dd/MM/yyyy")</td>
                            <td align="left" width="8%">@item.WeekDays</td>
                            @*<td align="left" width="8%" class="KHISum">@item.KarachiTotal.ToString("#,##0,,")</td>*@
                            <td align="left" width="8%" class="CRR5PcrReq">@item.CRR5PcrReq.ToString("#,##0,,")</td>
                            <td align="left" width="8%" class="PKSum">@item.PakistanToTal.ToString("#,##0,,")</td>
                            <td align="left" width="8%">@((item.BalMaintain5Pcr).ToString("#0.##0%"))</td>
                            @*<td align="left" width="8%">@item.BalMaintain3Pcr</td>*@
                            <td align="left" width="8%">@((Convert.ToDecimal(item.PakistanToTal) - Convert.ToDecimal(item.CRR5PcrReq)).ToString("#,##0,,"))</td>
                            <td align="left" width="8%">@((item.AvgForRemDays).ToString("#,##0,,"))</td>
                            <td align="left" width="8%">@((item.ReserveSurplus).ToString("#,##0,,"))</td>
                            <td align="left" width="8%">@((item.Reserve).ToString("#0.##0%"))</td>
                            @*<td align="left" width="8%">@item.CRR3PcrReq.ToString("#,##0,,")</td>*@
                            <td align="left" width="8%">@((Convert.ToDecimal(item.PakistanToTal) - Convert.ToDecimal(item.CRR3PcrReq)).ToString("#,##0,,"))</td>
                            @if (item.Remarks == "Warning")
                            {
                                <td align="left" width="8%" style="background-color: #ff7171bf;   color: #f00;  font-weight: bold;">@item.Remarks</td>
                            }
                            else if (item.Remarks == "OK")
                            {
                                <td align="left" width="8%" style="background-color: #73ff71bf;   color: #1ec141;  font-weight: bold;">@item.Remarks</td>
                            }
                            else
                            {
                                <td align="left" width="8%">@item.Remarks</td>
                            }

                            @*<td align="left" width="8%">@item.Penalty.ToString("#,##0,,M")</td>*@
                        </tr>
                            }
                        }
                        <tr>
                            <td align="left" width="8%"></td>
                            <td align="left" width="8%"></td>
                            @*<td align="left" width="8%">
            <script>

                var sumval = 0;
                var sumBal = 0;
                $('#BlotterDTLReportDayWise .KHISum').each(function () {
                    sumval = this.innerText;
                    sumval = sumval.replace(/\,/g, '');
                    sumBal += parseFloat(sumval) //+OpeningB1;
                });
                document.write(sumBal.toLocaleString('en-CA'));
            </script>
        </td>*@
                            <td align="left" width="8%" class="PKSumVal">
                                <script>
                                    sumval = 0;
                                    sumBal = 0;
                                    $('#BlotterDTLReportDayWise .PKSum').each(function () {
                                        sumval = this.innerText;
                                        sumval = sumval.replace(/\,/g, '');
                                        sumBal += parseFloat(sumval) //+OpeningB1;
                                    });
                                    document.write(sumBal.toLocaleString('en-CA'));
                                </script>
                            </td>
                            <td align="left" width="8%"></td>
                            <td align="left" width="8%"></td>
                            <td align="left" width="8%"></td>
                            <td align="left" width="8%"></td>
                            <td align="left" width="8%"></td>
                            <td align="left" width="8%"></td>
                            <td align="left" width="8%"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <table id="BlotterDTLReportShort" class="table table-striped table-bordered table-hover ">
                    <tbody>
                        <tr>
                            <td>Fortnightly Balance Req 5% </td>
                            <td class="FBR5">
                                <script>
                                    document.write((parseFloat(($('#BlotterDTLReportDayWise .CRR5PcrReq')[0].innerText).replace(/\,/g, '')) * 14).toLocaleString('en-CA'));
                                </script>

                            </td>
                        </tr>
                        <tr>
                            <td>Average Balance  Held</td>
                            <td class="AvgBH">
                                <script>
                                    var val1 = $('#BlotterDTLReportDayWise .PKSumVal')[0].innerText;
                                    document.write(val1);
                                </script>

                            </td>

                            <script>
								if(((0.05 / parseFloat(($('#BlotterDTLReportShort .FBR5')[0].innerText).replace(/\,/g, '')) * parseFloat(($('#BlotterDTLReportShort .AvgBH')[0].innerText).replace(/\,/g, ''))) * 100) >=5){
                                    document.write('<td align="left" width="8%" style="background-color: #73ff71bf;   color: #1ec141;  font-weight: bold;">'+((0.05 / parseFloat(($('#BlotterDTLReportShort .FBR5')[0].innerText).replace(/\,/g, '')) * parseFloat(($('#BlotterDTLReportShort .AvgBH')[0].innerText).replace(/\,/g, ''))) * 100).toFixed(2) + '% </td>')
								}
								else{
                                    document.write('<td align="left" width="8%" style="background-color: #ff7171bf;   color: #f00;  font-weight: bold;">'+((0.05 / parseFloat(($('#BlotterDTLReportShort .FBR5')[0].innerText).replace(/\,/g, '')) * parseFloat(($('#BlotterDTLReportShort .AvgBH')[0].innerText).replace(/\,/g, ''))) * 100).toFixed(2) + '% </td>')}
                            </script>

                        </tr>
                        <tr>
                            <td class="AvgBHHeading">
                                <script>
                                    if (parseFloat(($('#BlotterDTLReportShort .AvgBH')[0].innerText).replace(/\,/g, '')) > parseFloat(($('#BlotterDTLReportShort .FBR5')[0].innerText).replace(/\,/g, '')) ) {
                                        document.write('Fortnightly Long Position');
                                    } else if (parseFloat(($('#BlotterDTLReportShort .AvgBH')[0].innerText).replace(/\,/g, '')) < parseFloat(($('#BlotterDTLReportShort .FBR5')[0].innerText).replace(/\,/g, '')))  {
                                        document.write('Fortnightly Short Position');
                                    }
                                </script>
                            </td>
                            <td class="AvgBH">
                                <script>
                                    var val1 = parseFloat(($('#BlotterDTLReportShort .AvgBH')[0].innerText).replace(/\,/g, '')) - parseFloat(($('#BlotterDTLReportShort .FBR5')[0].innerText).replace(/\,/g, ''));
                                    document.write(val1.toLocaleString('en-CA'));
                                </script>

                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="col-md-12">
                    <div class="col-md-4">
                        <label class="control-label col-md-4" for="Clearing_Date">Select Date</label>
                    </div>
                    <div class="col-md-8">
                        <input class="form-control datepicker text-box single-line" data-val="true" data-val-date="The field Date must be a date." id="FillOPICSManual_Date" name="Clearing_Date" type="date">

                        <input type="button" id="ReconManualData" value="Recon" class="btn btn-default" />
                    </div>
                </div>
                <div id="FillManualData">
                </div>
            </div>
        </div>
    </div>
    <script>

        $("#FillOPICSManual_Date").change(function () {
            var val = this.value;
            $("#FillManualData").load("/Home/FillBlotterManualData/?Date=" + val+"&Recon=0");


        });

        $("#ReconManualData").click(function () {
            $("#FillManualData").load("/Home/FillBlotterManualData/?Date=" + $("#FillOPICSManual_Date").val() + "&Recon=1");
        });
    </script>
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/knockout-3.5.0.debug.js"></script>
    <script src="Scripts/app.service.js"></script>
    <script src="js/app.js"></script>
</body>
</html>
