@model WebBlotter.Models.SP_SBPOpicsSystemDate_Result 

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>FX BLOTTER SPA</title>
    <link href="Content/bootstrap.css" rel="stylesheet" />

    <script src="../Scripts/jquery-3.4.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" charset="utf8" src="../Scripts/jquery-3.3.1.js"></script>
</head>
<body>
    <div class="container">

        <div class="page-header">
            <h1>
                Welcome @Session["UserName"].ToString()
                <hr />
                BLOTTER @ViewData["SysCurrentDt"]

                @*<small><span data-bind="text: genre"></span></small>*@
            </h1>

        </div>
        <div class="row">
            <div class="span2">
                <div class="navbar">
                    <div class="navbar-inner">
                        <li><a href="http://localhost:1392/blotter/GetAllBlotter">Blotter</a></li>
                        <li><a href="http://localhost:1392/BlotterManualDeals/GetAllManualDeals">Blotter Manual Deals</a></li>
                        <li><a href="http://localhost:1392/blottersetup/GetAllSetupItems">Blotter SetUp</a></li>
                        <li><a href="http://localhost:1392/BlotterOpening/GetAllOpeningAmt">Blotter Opening Position</a></li>
                        <li><a href="http://localhost:1392/BlotterDTL/GetAllDTLDeals">Blotter DTL Amount</a></li>
                        <li><a href="http://localhost:1392/BlotterDTLDB/GetBlotterDTLDB">Blotter DTL DashBoard</a></li>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <table id="BlotterDTLReportDayWise" class="table table-striped table-bordered table-hover ">
                    <thead>
                        <tr>
                            <th>Date </th>
                            <th>Week Day</th>
                            <th>Karachi</th>
                            <th>Pakistan</th>
                            <th>CRR 5% Requirement</th>
                            <th>Balance Maintained in 5%</th>
                            @*<th>Balance Maintained in 3%</th>*@
                            <th>Long/(short) in 5% amount</th>
                            <th>CRR 3% Requirement</th>
                            <th>Long/(short) in 3% amount</th>
                            <th>Remarks</th>
                            <th>Shortfall 3%</th>
                            <th>Penalty</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (ViewBag.SBP_BlotterCRRReportDaysWiseBal != null)
                        {
                            foreach (var item in ViewBag.SBP_BlotterCRRReportDaysWiseBal)
                            {
                                <tr>
                                    <td align="left" width="8%">@item.ReportDate.ToString("MM/dd/yyyy")</td>
                                    <td align="left" width="8%">@item.WeekDays</td>
                                    <td align="left" width="8%" class="KHISum">@item.KarachiTotal.ToString("#,##0,,M")</td>
                                    <td align="left" width="8%" class="PKSum">@item.PakistanToTal.ToString("#,##0,,M")</td>
                                    <td align="left" width="8%" class="CRR5PcrReq">@item.CRR5PcrReq.ToString("#,##0,,M")</td>
                                    <td align="left" width="8%">@item.BalMaintain5Pcr.ToString("#0.####0")</td>
                                    @*<td align="left" width="8%">@item.BalMaintain3Pcr</td>*@
                                    <td align="left" width="8%">@((Convert.ToDecimal(item.PakistanToTal) - Convert.ToDecimal(item.CRR5PcrReq)).ToString("#,##0,,M"))</td>
                                    <td align="left" width="8%">@item.CRR3PcrReq.ToString("#,##0,,M")</td>
                                    <td align="left" width="8%">@((Convert.ToDecimal(item.PakistanToTal) - Convert.ToDecimal(item.CRR3PcrReq)).ToString("#,##0,,M"))</td>
                                    @if (item.Remarks == "Warning")
                                    {
                                        <td align="left" width="8%" style="background-color: #ff7171bf;   color: #f00;  font-weight: bold;">@item.Remarks</td>
                                    }
                                    else if (item.Remarks == "OK")
                                    {
                                        <td align="left" width="8%" style="background-color: #73ff71bf;   color: #1ec141;  font-weight: bold;">@item.Remarks</td>
                                    }
                                    else
                                    {
                                        <td align="left" width="8%">@item.Remarks</td>
                                    }
                                    @if ((Convert.ToDecimal(item.PakistanToTal) - Convert.ToDecimal(item.CRR3PcrReq)) < 0)
                                    {
                                        <td align="left" width="8%">@((Convert.ToDecimal(item.PakistanToTal) - Convert.ToDecimal(item.CRR3PcrReq)).ToString("#,##0,,M"))</td>
                                    }
                                    else
                                    {
                                        <td align="left" width="8%">0</td>
                                    }
                                    <td align="left" width="8%">@item.Penalty.ToString("#,##0,,M")</td>
                                </tr>
                            }
                        }
                        <tr>
                            <td align="left" width="8%"></td>
                            <td align="left" width="8%"></td>
                            <td align="left" width="8%">
                                <script>

                                    var sumval = 0;
                                    var sumBal = 0;
                                    $('#BlotterDTLReportDayWise .KHISum').each(function () {
                                        sumval = this.innerText;
                                        sumval = sumval.replace(/\,/g, '');
                                        sumBal += parseFloat(sumval) //+OpeningB1;
                                    });
                                    document.write(sumBal.toLocaleString('en-CA')+'M');
                                </script>
                            </td>
                            <td align="left" width="8%" class="PKSumVal">
                                <script>
                                    sumval = 0;
                                    sumBal = 0;
                                    $('#BlotterDTLReportDayWise .PKSum').each(function () {
                                        sumval = this.innerText;
                                        sumval = sumval.replace(/\,/g, '');
                                        sumBal += parseFloat(sumval) //+OpeningB1;
                                    });
                                    document.write(sumBal.toLocaleString('en-CA')+'M');
                                </script>
                            </td>
                            <td align="left" width="8%"></td>
                            <td align="left" width="8%"></td>
                            <td align="left" width="8%"></td>
                            <td align="left" width="8%"></td>
                            <td align="left" width="8%"></td>
                            <td align="left" width="8%"></td>
                            <td align="left" width="8%"></td>
                            <td align="left" width="8%"></td>
                        </tr>
                    </tbody>
                    </table>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <table id="BlotterDTLReportShort" class="table table-striped table-bordered table-hover ">
                    <tbody>
                        <tr>
                            <td>Fortnightly Balance Req 5% </td>
                            <td class="FBR5">
                                <script>
                                    document.write((parseFloat(($('#BlotterDTLReportDayWise .CRR5PcrReq')[0].innerText).replace(/\,/g, '')) * 14).toLocaleString('en-CA')+'M');
                                </script>

                            </td>
                        </tr>
                        <tr>
                            <td>Average Balance  Held</td>
                            <td class="AvgBH">
                                <script>
                                    var val1 = $('#BlotterDTLReportDayWise .PKSumVal')[0].innerText;
                                    document.write(val1);
                                </script>

                            </td>
                            <td>
                                <script>
                                    document.write((0.05 / parseFloat(($('#BlotterDTLReportShort .FBR5')[0].innerText).replace(/\,/g, '')) * parseFloat(($('#BlotterDTLReportShort .AvgBH')[0].innerText).replace(/\,/g, ''))).toFixed(4) + '%')
                                </script>
                            </td>
                        </tr>
                        <tr>
                            <td class="AvgBHHeading">
                                <script>
                                    if (parseFloat(($('#BlotterDTLReportShort .FBR5')[0].innerText).replace(/\,/g, '')) - parseFloat(($('#BlotterDTLReportShort .AvgBH')[0].innerText).replace(/\,/g, '')) > 0) {
                                        document.write('Fortnightly Long');
                                    } else {
                                        document.write('Fortnightly Short');
                                    }
                                </script>
                            </td>
                            <td class="AvgBH">
                                <script>
                                    var val1 = parseFloat(($('#BlotterDTLReportShort .FBR5')[0].innerText).replace(/\,/g, '')) - parseFloat(($('#BlotterDTLReportShort .AvgBH')[0].innerText).replace(/\,/g, ''));
                                    document.write(val1.toLocaleString('en-CA')+'M');
                                </script>

                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
        <script src="~/Scripts/jquery-3.4.1.js"></script>
        <script src="~/Scripts/knockout-3.5.0.debug.js"></script>
        <script src="Scripts/app.service.js"></script>
        <script src="js/app.js"></script>
</body>
</html>
