<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        #loader {
            /*border: 12px solid #f3f3f3;
            border-radius: 50%;
            border-top: 12px solid #444444;
            width: 70px;
            height: 70px;
            animation: spin 1s linear infinite;*/
            position: fixed;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
            z-index: 9999;
            background: url(../../Content/Images/Spinner.gif) 50% 50% no-repeat #fff;
        }
        </style>
</head>
<body>
    <div class="navbar navbar-fixed-top navbar-expand-lg navbar-light bg-light">
        <div class="container">
                @Html.ActionLink("SBP Blotter", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    @if (Session["Pages"].ToString().Contains(','))
                    {
                        foreach (var item in Session["Pages"].ToString().Split(','))
                        {
                            var val = item.Split('~');
                            <li class="nav-item">@Html.ActionLink(val[0], val[1], val[2], new { area = "" }, new { @class = "nav-link" })</li>
                        }
                    }
                    else
                    {
                        var val = Session["Pages"].ToString().Split('~');
                        <li class="nav-item">@Html.ActionLink(val[0], val[1], val[2], new { area = "" }, new { @class = "nav-link" })</li>

                    }

                </ul>

                @if (Session["Currencies"] != null && Convert.ToInt32(Session["SelectedCurrency"]) > 1)
                {
                    if (Session["ActiveController"] != null && Session["ActiveAction"] != null)
                    {
                        using (Html.BeginForm(Session["ActiveController"].ToString(), Session["ActiveAction"].ToString(), FormMethod.Post))
                        {
                            @Html.AntiForgeryToken();
                            <div class="btn-group d-inline  my-2 my-lg-0" role="group">
                                @*<select name="selectCurrency" class="form-control" onchange="this.form.submit()" formaction=@Url.Action("Testing") formmethod="post">*@
                                <select name="selectCurrency" class="form-control" onchange="this.form.submit()">
                                    @if (Session["Currencies"].ToString().Contains(','))
                                    {
                                        foreach (var item in Session["Currencies"].ToString().Split(','))
                                        {
                                            var val = item.Split('~');
                                            if (val[0] == Session["SelectedCurrency"].ToString())
                                            {
                                                <option value="@val[0]" selected>@val[1]</option>
                                                TempData["CurrencyName"] = @val[1];
                                            }
                                            else
                                            {
                                                <option value="@val[0]">@val[1]</option>
                                                TempData["CurrencyName"] = @val[1];
                                            }
                                        }
                                    }
                                    else
                                    {
                                        var val = Session["Currencies"].ToString().Split('~');
                                        <option value="@val[0]">@val[1]</option>
                                        TempData["CurrencyName"] = @val[1];
                                    }
                                </select>
                            </div>
                        }
                    }
                }

                @Html.ActionLink("Logout", "Logout", "BlotterLogin", new { area = "" }, new { @class = "navbar-brand" })
            </div>

        </div>
    </div>
    <div class="container body-content">

        <div id="loader" class="center"></div>
        @RenderBody()
        @RenderSection("SPAViews", required: false)
        <script>
            document.onreadystatechange = function () {
                if (document.readyState !== "complete") {
                    document.querySelector(
                        "body").style.visibility = "hidden";
                    document.querySelector(
                        "#loader").style.visibility = "visible";
                } else {
                    document.querySelector(
                        "#loader").style.display = "none";
                    document.querySelector(
                        "body").style.visibility = "visible";
                }
            };
        </script>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Powered By HBL Global Market</p>
        </footer>
    </div>



    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>
