@model IEnumerable<WebBlotter.Models.SP_GetAll_SBPBlotterTBO_Result>
@{
    ViewBag.Title = "Blotter TBO";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    #customers {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        font-size: 11px;
        border-collapse: collapse;
        width: 90%;
        min-width: 800px;
        max-width: 1500px;
    }

        #customers td, #customers th {
            border: 1px solid #ddd;
            padding: 2px;
            font-size: 10.5px;
        }

        #customers tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        #customers tr:hover {
            background-color: #ddd;
        }

        #customers th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #4CAF50;
            color: white;
        }
</style>
<style>
    table, th, td {
        border: 1px solid black;
    }
    /*th  {
    border: 1px solid black;
    color:red;
    width: 55px
    }*/
</style>
<h2>Blotter TBO</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<!--Search By Date -->
@using (Html.BeginForm(Session["ActiveController"].ToString(), Session["ActiveAction"].ToString(), FormMethod.Post))
{
    @Html.AntiForgeryToken();
    <div class="btn-group d-inline my-2 my-lg-0 navbar-right" style="margin-right: 10px !important;" role="group">
        <input id="SearchByDateId" name="SearchByDate" type="date" value="@ViewBag.DateVal" onchange="this.form.submit()" class="form-control datepicker text-box single-line" />
    </div>
}
<!--Search By Date -->
<div>

    @*<script src="Scripts/moment.js"></script>*@
    <table id="customers" class="table table-striped table-bordered table-hover ">
        <thead>
            <tr>
                <th>S.No. </th>
                <th>Date        </th>
                <th>Nostro Bank</th>
                @if (Session["BR"].ToString() != "01")
                {
                    <th>Data Type</th>
                }
                <th>Transaction Type</th>
                <th>Description</th>
                <th>InFlow</th>
                <th>OutFlow</th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td width="6%">@Html.DisplayFor(modelItem => item.SNo)</td>
                    <td id="DealDate" width="8%">
                        @Html.DisplayFor(modelItem => item.TBO_Date)
                        <script>
                                  var NowMoment = moment("@Html.DisplayFor(modelItem => item.TBO_Date)");
                                    var eDisplayMoment = document.getElementById('DealDate');
                                 eDisplayMoment.innerHTML = NowMoment.format('DD-MMM-YYYY');
                        </script>
                    </td>

                    <td align="left" width="15%">@Html.DisplayFor(modelItem => item.BankName)</td>
                    @if (Session["BR"].ToString() != "01")
                    {
                        <td align="right" width="8%">@Html.DisplayFor(modelItem => item.DataType)</td>
                    }
                    <td align="left" width="8%">@Html.DisplayFor(modelItem => item.TransactionType)</td>
                    <td align="left" width="8%">@Html.DisplayFor(modelItem => item.Note)</td>
                    <td align="right" width="8%">@Html.DisplayFor(modelItem => item.TBO_InFlow)</td>
                    <td align="right" width="10%">@Html.DisplayFor(modelItem => item.TBO_OutFLow)</td>


                    <td width="18%" align="right">
                        @if ((bool)ViewData["isEditable"])
                        {
                            @Html.ActionLink("Edit", "Edit", new { id = item.SNo })
                        }
                        |
                        @if ((bool)ViewData["IsDeletable"])
                        {
                            @*@Html.ActionLink("Details", "Details", new { id = item.SNo }) |*@
                            @Html.ActionLink("Delete", "Delete", new { id = item.SNo })
                        }
                    </td>
                </tr>

            }

    </table>
</div>
