@model WebBlotter.Models.SBP_BlotterTBO
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>


@using (Html.BeginForm("Update", "BlotterTBO", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <Fieldset>
        <div class="form-horizontal">
            <h2>Edit Blotter TBO</h2>
            <hr />
            @Html.HiddenFor(model => model.SNo)
            @if (Session["BR"].ToString() != "01")
            {
                <div class="form-group">
                    <label class="control-label col-md-2">Data Type</label>
                    <div class="col-md-10">
                        <select name="DataType" class="form-control">
                            <option value="SBP">State Bank of Pakistan</option>
                            <option value="HBLC">Inter Branch Account</option>
                        </select>
                    </div>
                </div>
            }
            else
            {
                <div class="form-group" style="display:none;">
                    >
                    <label class="control-label col-md-2">Data Type</label>
                    <div class="col-md-10">
                        <select name="DataType" class="form-control">
                            <option value="SBP">State Bank of Pakistan</option>
                        </select>
                    </div>
                </div>
            }
            <div class="form-group">
                <label class="control-label col-md-2">Select Type</label>
                <div class="col-md-10">
                    <select name="TTID" class="form-control">
                        @foreach (var item in ViewBag.TBOTransactionTitles)
                        {
                            if (Model.TTID == item.TTID)
                            {
                                <option value="@item.TTID" selected="selected">@item.TranctionTitle</option>
                            }
                            else
                            {
                                <option value="@item.TTID">@item.TranctionTitle</option>
                            }
                        }
                    </select>
                </div>
            </div>
            @if ((bool)ViewData["isDateChangable"])
            {
                <div class="form-group">
                    @Html.LabelFor(model => model.TBO_Date, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">

                        @Html.EditorFor(model => model.TBO_Date, new
                   {
                       htmlAttributes = new
                       {
                           @class = "form-control datepicker",
                           @Value = Model.TBO_Date.Value.Date.ToString("yyyy-MM-dd")
                       }
                   })

                        @Html.ValidationMessageFor(model => model.TBO_Date, "", new { @class = "text-danger" })
                    </div>
                </div>
            }
            <div class="form-group">
                @Html.LabelFor(model => model.Note, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Note, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Note, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.TBO_InFlow, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.TBO_InFlow, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TBO_InFlow, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.TBO_OutFLow, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.TBO_OutFLow, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TBO_OutFLow, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input class="form-control" type="submit" value="Update" />
                </div>
            </div>
        </div>
    </Fieldset>
}