@model WebBlotter.Models.SBP_BlotterBreakups

@{
    /**/

    ViewBag.Title = "Blotter Breakups";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="../../Scripts/jquery-3.4.1.min.js"></script>

<div class="container">
    <br />
    <h2>Create Daily SBP BLOTTER REPORTING </h2>
    @*<h4>As On @ViewData["SysCurrentDt"]</h4>*@
    <h4>HBL  @ViewData["BranchName"] Branch</h4>
    <br />
    <br />
    @using (Html.BeginForm("_Create", "BlotterBreakups", FormMethod.Post))
    {
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.AntiForgeryToken()
        @*@Html.ValidationMessageFor(model => model.OpeningBalActual, "", new { @class = "text-danger" })*@
        <br />
        <table align="center" style="width:50%" id="TB01">

            <tr>
                <td><h5>Breakup of today's inflow</h5></td>
                <td></td>
            </tr>
            <tr>
                <td><span>Food Payment</span></td>
                <td>
                    <span class="Bold">@Html.EditorFor(model => model.FoodPayment_inFlow, new { htmlAttributes = new { @class = "form-control" } })</span>
                    @Html.ValidationMessageFor(model => model.FoodPayment_inFlow, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td><span class="Bold">Remittance From HOK (TT)</span></td>
                <td>
                    <span>@Html.EditorFor(model => model.HOKRemittance_inFlow, new { htmlAttributes = new { @class = "form-control" } })</span>
                    @Html.ValidationMessageFor(model => model.HOKRemittance_inFlow, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td><span class="Bold">ERF</span></td>
                <td>
                    <span>@Html.EditorFor(model => model.ERF_inflow, new { htmlAttributes = new { @class = "form-control" } })</span>
                    @Html.ValidationMessageFor(model => model.ERF_inflow, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td><span class="Bold">SBP Cheque Deposite</span></td>
                <td>
                    <span>@Html.EditorFor(model => model.SBPChequeDeposite_inflow, new { htmlAttributes = new { @class = "form-control" } })</span>
                    @Html.ValidationMessageFor(model => model.SBPChequeDeposite_inflow, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td><span class="Bold">Miscellaneous</span></td>
                <td>
                    <span>@Html.EditorFor(model => model.Miscellaneous_inflow, new { htmlAttributes = new { @class = "form-control" } })</span>
                    @Html.ValidationMessageFor(model => model.Miscellaneous_inflow, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td><h5>Breakup of today's outflow</h5></td>
                <td></td>
            </tr>
            <tr>
                <td><span>Cash Withdrawal by SBP Cheques</span></td>
                <td>
                    <span class="Bold">@Html.EditorFor(model => model.CashWithdrawbySBPCheques_outFlow, new { htmlAttributes = new { @class = "form-control" } })</span>
                    @Html.ValidationMessageFor(model => model.CashWithdrawbySBPCheques_outFlow, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td><span>ERF</span></td>
                <td>
                    <span class="Bold">@Html.EditorFor(model => model.ERF_outflow, new { htmlAttributes = new { @class = "form-control" } })</span>
                    @Html.ValidationMessageFor(model => model.ERF_outflow, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td><span>DSC/SSC</span></td>
                <td>
                    <span class="Bold">@Html.EditorFor(model => model.DSC_outFlow, new { htmlAttributes = new { @class = "form-control" } })</span>
                    @Html.ValidationMessageFor(model => model.DSC_outFlow, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td><span>Remittance to HOK (RSF)</span></td>
                <td>
                    <span class="Bold">@Html.EditorFor(model => model.RemitanceToHOK_outFlow, new { htmlAttributes = new { @class = "form-control" } })</span>
                    @Html.ValidationMessageFor(model => model.RemitanceToHOK_outFlow, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td><span>SBP Cheque Given to other bank</span></td>
                <td>
                    <span class="Bold">@Html.EditorFor(model => model.SBPCheqGivenToOtherBank_outFlow, new { htmlAttributes = new { @class = "form-control" } })</span>
                    @Html.ValidationMessageFor(model => model.SBPCheqGivenToOtherBank_outFlow, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td><span>Miscellaneous</span></td>
                <td>
                    <span class="Bold">@Html.EditorFor(model => model.Miscellaneous_outflow, new { htmlAttributes = new { @class = "form-control" } })</span>
                    @Html.ValidationMessageFor(model => model.Miscellaneous_outflow, "", new { @class = "text-danger" })
                </td>
            </tr>

        </table>
        <br />
        <h4>Net Balance <span id="NetBalDsp">0</span></h4>
        @*@Html.ValidationMessageFor(model => model.EstimatedCLossingBal, "", new { @class = "text-danger" })*@



        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" />
            </div>
        </div>
    }


    <script>
        $('#FoodPayment_inFlow').on('input', function () {
            var FoodPayment_inFlow = parseFloat($('#FoodPayment_inFlow').val());
            var HOKRemittance_inFlow = parseFloat($('#HOKRemittance_inFlow').val());
            var ERF_inflow = parseFloat($('#ERF_inflow').val());
            var SBPChequeDeposite_inflow = parseFloat($('#SBPChequeDeposite_inflow').val());
            var Miscellaneous_inflow = parseFloat($('#Miscellaneous_inflow').val());
            var CashWithdrawbySBPCheques_outFlow = parseFloat($('#CashWithdrawbySBPCheques_outFlow').val());
            var ERF_outflow = parseFloat($('#ERF_outflow').val());
            var DSC_outFlow = parseFloat($('#DSC_outFlow').val());
            var RemitanceToHOK_outFlow = parseFloat($('#RemitanceToHOK_outFlow').val());
            var SBPCheqGivenToOtherBank_outFlow = parseFloat($('#SBPCheqGivenToOtherBank_outFlow').val());
            var Miscellaneous_outflow = parseFloat($('#Miscellaneous_outflow').val());


            var SumAllVal = (FoodPayment_inFlow + HOKRemittance_inFlow + ERF_inflow + SBPChequeDeposite_inflow + Miscellaneous_inflow) - (CashWithdrawbySBPCheques_outFlow + ERF_outflow + DSC_outFlow + RemitanceToHOK_outFlow + SBPCheqGivenToOtherBank_outFlow + Miscellaneous_outflow);

            $('#NetBalDsp').text(SumAllVal);

        });
        $('#HOKRemittance_inFlow').on('input', function () {
            var FoodPayment_inFlow = parseFloat($('#FoodPayment_inFlow').val());
            var HOKRemittance_inFlow = parseFloat($('#HOKRemittance_inFlow').val());
            var ERF_inflow = parseFloat($('#ERF_inflow').val());
            var SBPChequeDeposite_inflow = parseFloat($('#SBPChequeDeposite_inflow').val());
            var Miscellaneous_inflow = parseFloat($('#Miscellaneous_inflow').val());
            var CashWithdrawbySBPCheques_outFlow = parseFloat($('#CashWithdrawbySBPCheques_outFlow').val());
            var ERF_outflow = parseFloat($('#ERF_outflow').val());
            var DSC_outFlow = parseFloat($('#DSC_outFlow').val());
            var RemitanceToHOK_outFlow = parseFloat($('#RemitanceToHOK_outFlow').val());
            var SBPCheqGivenToOtherBank_outFlow = parseFloat($('#SBPCheqGivenToOtherBank_outFlow').val());
            var Miscellaneous_outflow = parseFloat($('#Miscellaneous_outflow').val());


            var SumAllVal = (FoodPayment_inFlow + HOKRemittance_inFlow + ERF_inflow + SBPChequeDeposite_inflow + Miscellaneous_inflow) - (CashWithdrawbySBPCheques_outFlow + ERF_outflow + DSC_outFlow + RemitanceToHOK_outFlow + SBPCheqGivenToOtherBank_outFlow + Miscellaneous_outflow);

            $('#NetBalDsp').text(SumAllVal);

        });
        $('#ERF_inflow').on('input', function () {
            var FoodPayment_inFlow = parseFloat($('#FoodPayment_inFlow').val());
            var HOKRemittance_inFlow = parseFloat($('#HOKRemittance_inFlow').val());
            var ERF_inflow = parseFloat($('#ERF_inflow').val());
            var SBPChequeDeposite_inflow = parseFloat($('#SBPChequeDeposite_inflow').val());
            var Miscellaneous_inflow = parseFloat($('#Miscellaneous_inflow').val());
            var CashWithdrawbySBPCheques_outFlow = parseFloat($('#CashWithdrawbySBPCheques_outFlow').val());
            var ERF_outflow = parseFloat($('#ERF_outflow').val());
            var DSC_outFlow = parseFloat($('#DSC_outFlow').val());
            var RemitanceToHOK_outFlow = parseFloat($('#RemitanceToHOK_outFlow').val());
            var SBPCheqGivenToOtherBank_outFlow = parseFloat($('#SBPCheqGivenToOtherBank_outFlow').val());
            var Miscellaneous_outflow = parseFloat($('#Miscellaneous_outflow').val());


            var SumAllVal = (FoodPayment_inFlow + HOKRemittance_inFlow + ERF_inflow + SBPChequeDeposite_inflow + Miscellaneous_inflow) - (CashWithdrawbySBPCheques_outFlow + ERF_outflow + DSC_outFlow + RemitanceToHOK_outFlow + SBPCheqGivenToOtherBank_outFlow + Miscellaneous_outflow);

            $('#NetBalDsp').text(SumAllVal);

        });
        $('#SBPChequeDeposite_inflow').on('input', function () {
            var FoodPayment_inFlow = parseFloat($('#FoodPayment_inFlow').val());
            var HOKRemittance_inFlow = parseFloat($('#HOKRemittance_inFlow').val());
            var ERF_inflow = parseFloat($('#ERF_inflow').val());
            var SBPChequeDeposite_inflow = parseFloat($('#SBPChequeDeposite_inflow').val());
            var Miscellaneous_inflow = parseFloat($('#Miscellaneous_inflow').val());
            var CashWithdrawbySBPCheques_outFlow = parseFloat($('#CashWithdrawbySBPCheques_outFlow').val());
            var ERF_outflow = parseFloat($('#ERF_outflow').val());
            var DSC_outFlow = parseFloat($('#DSC_outFlow').val());
            var RemitanceToHOK_outFlow = parseFloat($('#RemitanceToHOK_outFlow').val());
            var SBPCheqGivenToOtherBank_outFlow = parseFloat($('#SBPCheqGivenToOtherBank_outFlow').val());
            var Miscellaneous_outflow = parseFloat($('#Miscellaneous_outflow').val());


            var SumAllVal =(FoodPayment_inFlow + HOKRemittance_inFlow + ERF_inflow + SBPChequeDeposite_inflow + Miscellaneous_inflow) - (CashWithdrawbySBPCheques_outFlow + ERF_outflow + DSC_outFlow + RemitanceToHOK_outFlow + SBPCheqGivenToOtherBank_outFlow + Miscellaneous_outflow);

            $('#NetBalDsp').text(SumAllVal);

        });
        $('#Miscellaneous_inflow').on('input', function () {
            var FoodPayment_inFlow = parseFloat($('#FoodPayment_inFlow').val());
            var HOKRemittance_inFlow = parseFloat($('#HOKRemittance_inFlow').val());
            var ERF_inflow = parseFloat($('#ERF_inflow').val());
            var SBPChequeDeposite_inflow = parseFloat($('#SBPChequeDeposite_inflow').val());
            var Miscellaneous_inflow = parseFloat($('#Miscellaneous_inflow').val());
            var CashWithdrawbySBPCheques_outFlow = parseFloat($('#CashWithdrawbySBPCheques_outFlow').val());
            var ERF_outflow = parseFloat($('#ERF_outflow').val());
            var DSC_outFlow = parseFloat($('#DSC_outFlow').val());
            var RemitanceToHOK_outFlow = parseFloat($('#RemitanceToHOK_outFlow').val());
            var SBPCheqGivenToOtherBank_outFlow = parseFloat($('#SBPCheqGivenToOtherBank_outFlow').val());
            var Miscellaneous_outflow = parseFloat($('#Miscellaneous_outflow').val());


            var SumAllVal = (FoodPayment_inFlow + HOKRemittance_inFlow + ERF_inflow + SBPChequeDeposite_inflow + Miscellaneous_inflow) - (CashWithdrawbySBPCheques_outFlow + ERF_outflow + DSC_outFlow + RemitanceToHOK_outFlow + SBPCheqGivenToOtherBank_outFlow + Miscellaneous_outflow);

            $('#NetBalDsp').text(SumAllVal);

        });
        $('#CashWithdrawbySBPCheques_outFlow').on('input', function () {
            var FoodPayment_inFlow = parseFloat($('#FoodPayment_inFlow').val());
            var HOKRemittance_inFlow = parseFloat($('#HOKRemittance_inFlow').val());
            var ERF_inflow = parseFloat($('#ERF_inflow').val());
            var SBPChequeDeposite_inflow = parseFloat($('#SBPChequeDeposite_inflow').val());
            var Miscellaneous_inflow = parseFloat($('#Miscellaneous_inflow').val());
            var CashWithdrawbySBPCheques_outFlow = parseFloat($('#CashWithdrawbySBPCheques_outFlow').val());
            var ERF_outflow = parseFloat($('#ERF_outflow').val());
            var DSC_outFlow = parseFloat($('#DSC_outFlow').val());
            var RemitanceToHOK_outFlow = parseFloat($('#RemitanceToHOK_outFlow').val());
            var SBPCheqGivenToOtherBank_outFlow = parseFloat($('#SBPCheqGivenToOtherBank_outFlow').val());
            var Miscellaneous_outflow = parseFloat($('#Miscellaneous_outflow').val());


            var SumAllVal = (FoodPayment_inFlow + HOKRemittance_inFlow + ERF_inflow + SBPChequeDeposite_inflow + Miscellaneous_inflow) - (CashWithdrawbySBPCheques_outFlow + ERF_outflow + DSC_outFlow + RemitanceToHOK_outFlow + SBPCheqGivenToOtherBank_outFlow + Miscellaneous_outflow);

            $('#NetBalDsp').text(SumAllVal);

        });
        $('#ERF_outflow').on('input', function () {
            var FoodPayment_inFlow = parseFloat($('#FoodPayment_inFlow').val());
            var HOKRemittance_inFlow = parseFloat($('#HOKRemittance_inFlow').val());
            var ERF_inflow = parseFloat($('#ERF_inflow').val());
            var SBPChequeDeposite_inflow = parseFloat($('#SBPChequeDeposite_inflow').val());
            var Miscellaneous_inflow = parseFloat($('#Miscellaneous_inflow').val());
            var CashWithdrawbySBPCheques_outFlow = parseFloat($('#CashWithdrawbySBPCheques_outFlow').val());
            var ERF_outflow = parseFloat($('#ERF_outflow').val());
            var DSC_outFlow = parseFloat($('#DSC_outFlow').val());
            var RemitanceToHOK_outFlow = parseFloat($('#RemitanceToHOK_outFlow').val());
            var SBPCheqGivenToOtherBank_outFlow = parseFloat($('#SBPCheqGivenToOtherBank_outFlow').val());
            var Miscellaneous_outflow = parseFloat($('#Miscellaneous_outflow').val());


            var SumAllVal = (FoodPayment_inFlow + HOKRemittance_inFlow + ERF_inflow + SBPChequeDeposite_inflow + Miscellaneous_inflow) - (CashWithdrawbySBPCheques_outFlow + ERF_outflow + DSC_outFlow + RemitanceToHOK_outFlow + SBPCheqGivenToOtherBank_outFlow + Miscellaneous_outflow);

            $('#NetBalDsp').text(SumAllVal);

        });
        $('#DSC_outFlow').on('input', function () {
            var FoodPayment_inFlow = parseFloat($('#FoodPayment_inFlow').val());
            var HOKRemittance_inFlow = parseFloat($('#HOKRemittance_inFlow').val());
            var ERF_inflow = parseFloat($('#ERF_inflow').val());
            var SBPChequeDeposite_inflow = parseFloat($('#SBPChequeDeposite_inflow').val());
            var Miscellaneous_inflow = parseFloat($('#Miscellaneous_inflow').val());
            var CashWithdrawbySBPCheques_outFlow = parseFloat($('#CashWithdrawbySBPCheques_outFlow').val());
            var ERF_outflow = parseFloat($('#ERF_outflow').val());
            var DSC_outFlow = parseFloat($('#DSC_outFlow').val());
            var RemitanceToHOK_outFlow = parseFloat($('#RemitanceToHOK_outFlow').val());
            var SBPCheqGivenToOtherBank_outFlow = parseFloat($('#SBPCheqGivenToOtherBank_outFlow').val());
            var Miscellaneous_outflow = parseFloat($('#Miscellaneous_outflow').val());


            var SumAllVal = (FoodPayment_inFlow + HOKRemittance_inFlow + ERF_inflow + SBPChequeDeposite_inflow + Miscellaneous_inflow) - (CashWithdrawbySBPCheques_outFlow + ERF_outflow + DSC_outFlow + RemitanceToHOK_outFlow + SBPCheqGivenToOtherBank_outFlow + Miscellaneous_outflow);

            $('#NetBalDsp').text(SumAllVal);

        });
        $('#RemitanceToHOK_outFlow').on('input', function () {
            var FoodPayment_inFlow = parseFloat($('#FoodPayment_inFlow').val());
            var HOKRemittance_inFlow = parseFloat($('#HOKRemittance_inFlow').val());
            var ERF_inflow = parseFloat($('#ERF_inflow').val());
            var SBPChequeDeposite_inflow = parseFloat($('#SBPChequeDeposite_inflow').val());
            var Miscellaneous_inflow = parseFloat($('#Miscellaneous_inflow').val());
            var CashWithdrawbySBPCheques_outFlow = parseFloat($('#CashWithdrawbySBPCheques_outFlow').val());
            var ERF_outflow = parseFloat($('#ERF_outflow').val());
            var DSC_outFlow = parseFloat($('#DSC_outFlow').val());
            var RemitanceToHOK_outFlow = parseFloat($('#RemitanceToHOK_outFlow').val());
            var SBPCheqGivenToOtherBank_outFlow = parseFloat($('#SBPCheqGivenToOtherBank_outFlow').val());
            var Miscellaneous_outflow = parseFloat($('#Miscellaneous_outflow').val());


            var SumAllVal = (FoodPayment_inFlow + HOKRemittance_inFlow + ERF_inflow + SBPChequeDeposite_inflow + Miscellaneous_inflow) - (CashWithdrawbySBPCheques_outFlow + ERF_outflow + DSC_outFlow + RemitanceToHOK_outFlow + SBPCheqGivenToOtherBank_outFlow + Miscellaneous_outflow);

            $('#NetBalDsp').text(SumAllVal);

        });
        $('#SBPCheqGivenToOtherBank_outFlow').on('input', function () {
            var FoodPayment_inFlow = parseFloat($('#FoodPayment_inFlow').val());
            var HOKRemittance_inFlow = parseFloat($('#HOKRemittance_inFlow').val());
            var ERF_inflow = parseFloat($('#ERF_inflow').val());
            var SBPChequeDeposite_inflow = parseFloat($('#SBPChequeDeposite_inflow').val());
            var Miscellaneous_inflow = parseFloat($('#Miscellaneous_inflow').val());
            var CashWithdrawbySBPCheques_outFlow = parseFloat($('#CashWithdrawbySBPCheques_outFlow').val());
            var ERF_outflow = parseFloat($('#ERF_outflow').val());
            var DSC_outFlow = parseFloat($('#DSC_outFlow').val());
            var RemitanceToHOK_outFlow = parseFloat($('#RemitanceToHOK_outFlow').val());
            var SBPCheqGivenToOtherBank_outFlow = parseFloat($('#SBPCheqGivenToOtherBank_outFlow').val());
            var Miscellaneous_outflow = parseFloat($('#Miscellaneous_outflow').val());


            var SumAllVal = (FoodPayment_inFlow + HOKRemittance_inFlow + ERF_inflow + SBPChequeDeposite_inflow + Miscellaneous_inflow) - (CashWithdrawbySBPCheques_outFlow + ERF_outflow + DSC_outFlow + RemitanceToHOK_outFlow + SBPCheqGivenToOtherBank_outFlow + Miscellaneous_outflow);

            $('#NetBalDsp').text(SumAllVal);

        });
        $('#Miscellaneous_outflow').on('input', function () {
            var FoodPayment_inFlow = parseFloat($('#FoodPayment_inFlow').val());
            var HOKRemittance_inFlow = parseFloat($('#HOKRemittance_inFlow').val());
            var ERF_inflow = parseFloat($('#ERF_inflow').val());
            var SBPChequeDeposite_inflow = parseFloat($('#SBPChequeDeposite_inflow').val());
            var Miscellaneous_inflow = parseFloat($('#Miscellaneous_inflow').val());
            var CashWithdrawbySBPCheques_outFlow = parseFloat($('#CashWithdrawbySBPCheques_outFlow').val());
            var ERF_outflow = parseFloat($('#ERF_outflow').val());
            var DSC_outFlow = parseFloat($('#DSC_outFlow').val());
            var RemitanceToHOK_outFlow = parseFloat($('#RemitanceToHOK_outFlow').val());
            var SBPCheqGivenToOtherBank_outFlow = parseFloat($('#SBPCheqGivenToOtherBank_outFlow').val());
            var Miscellaneous_outflow = parseFloat($('#Miscellaneous_outflow').val());


            var SumAllVal = (FoodPayment_inFlow + HOKRemittance_inFlow + ERF_inflow + SBPChequeDeposite_inflow + Miscellaneous_inflow) - (CashWithdrawbySBPCheques_outFlow + ERF_outflow + DSC_outFlow + RemitanceToHOK_outFlow + SBPCheqGivenToOtherBank_outFlow + Miscellaneous_outflow);

            $('#NetBalDsp').text(SumAllVal);

        });
    </script>
</div>



