@model IEnumerable<WebBlotter.Models.SP_GetAll_SBPBlotterRTGS_Result>
@{
    /**/

    ViewBag.Title = "BlotterRTGS";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>BlotterRTGS</h2>

<style>
    #customers {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        font-size: 11px;
        border-collapse: collapse;
        width: 90%;
        min-width: 800px;
        max-width: 1500px;
    }

        #customers td, #customers th {
            border: 1px solid #ddd;
            padding: 2px;
            font-size: 10.5px;
        }

        #customers tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        #customers tr:hover {
            background-color: #ddd;
        }

        #customers th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #4CAF50;
            color: white;
        }
</style>
<style>
    table, th, td {
        border: 1px solid black;
    }
    /*th  {
    border: 1px solid black;
    color:red;
    width: 55px
    }*/
</style>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div>

    @*<script src="Scripts/moment.js"></script>*@
    <table id="customers" class="table table-striped table-bordered table-hover ">
        <thead>
            <tr>
                <th>S.No. </th>
                <th>Date        </th>
                <th>Transaction Type</th>
                <th>Description</th>
                <th>InFlow</th>
                <th>OutFlow</th>
                <th></th>
            </tr>
        </thead>
        <RTGSdy>

            @foreach (var item in Model)
            {
            <tr>
                <td width="6%">@Html.DisplayFor(modelItem => item.SNo)</td>
                <td id="DealDate" width="8%">
                    @Html.DisplayFor(modelItem => item.RTGS_Date)
                    <script>
                                  var NowMoment = moment("@Html.DisplayFor(modelItem => item.RTGS_Date)");
                                    var eDisplayMoment = document.getElementById('DealDate');
                                 eDisplayMoment.innerHTML = NowMoment.format('DD-MMM-YYYY');
                    </script>
                </td>
                <td align="left" width="8%">@Html.DisplayFor(modelItem => item.TransactionType)</td>
                <td align="left" width="8%">@Html.DisplayFor(modelItem => item.Note)</td>
                <td align="right" width="8%">@Html.DisplayFor(modelItem => item.RTGS_InFlow)</td>
                <td align="right" width="10%">@Html.DisplayFor(modelItem => item.RTGS_OutFLow)</td>


                <td width="18%" align="right">
                    @if ((bool)ViewData["isEditable"])
                    {
                        @Html.ActionLink("Edit", "Edit", new { id = item.SNo })
                    }
                    |
                    @if ((bool)ViewData["IsDeletable"])
                    {
                        @*@Html.ActionLink("Details", "Details", new { id = item.SNo }) |*@
                        @Html.ActionLink("Delete", "Delete", new { id = item.SNo })
                    }
                </td>
            </tr>

            }

    </table>
</div>
