@model IEnumerable<WebBlotter.Models.sp_GetAllUsers_Result>
@{
    ViewBag.Title = "User Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    #customers {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        font-size: 11px;
        border-collapse: collapse;
        width: 90%;
        min-width: 800px;
        max-width: 1500px;
    }

        #customers td, #customers th {
            border: 1px solid #ddd;
            padding: 2px;
            font-size: 10.5px;
        }

        #customers tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        #customers tr:hover {
            background-color: #ddd;
        }

        #customers th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #4CAF50;
            color: white;
        }
</style>
<style>
    table, th, td {
        border: 1px solid black;
    }
    /*th  {
    border: 1px solid black;
    color:red;
    width: 55px
    }*/
</style>
<h2>User Profile</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div>

    @*<script src="Scripts/moment.js"></script>*@
    <table id="customers" class="table table-striped table-bordered table-hover ">
        <thead>
            <tr>
                <th>S.No. </th>
                <th>Role</th>
                <th>Branch</th>
                <th>User Name</th>
                <th>Contact No</th>
                <th>Email</th>
                <th>Department</th>
                <th>Conventional</th>
                <th>Islamic</th>
                <th>Status</th>
                <th>Blotter Type</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                foreach (var item in Model)
                {
            <tr>
                <td width="6%">@Html.DisplayFor(modelItem => item.Id)</td>
                <td align="left" width="8%">@Html.DisplayFor(modelItem => item.RoleName)</td>
                <td align="left" width="8%">@Html.DisplayFor(modelItem => item.BranchName)</td>
                <td align="right" width="8%">@Html.DisplayFor(modelItem => item.UserName)</td>
                <td align="right" width="8%">@Html.DisplayFor(modelItem => item.ContactNo)</td>
                <td align="right" width="8%">@Html.DisplayFor(modelItem => item.Email)</td>
                <td align="right" width="8%">@Html.DisplayFor(modelItem => item.Department)</td>
                <td align="right" width="10%">@Html.DisplayFor(modelItem => item.isConventional)</td>
                <td align="right" width="10%">@Html.DisplayFor(modelItem => item.isislamic)</td>
                <td align="right" width="10%">@Html.DisplayFor(modelItem => item.isActive)</td>
                <td align="right" width="10%">@Html.DisplayFor(modelItem => item.BlotterType)</td>


                <td width="18%" align="right">
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @*@Html.ActionLink("Details", "Details", new { id = item.SNo }) |*@
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>

                }
            }
    </table>
</div>

