@model IEnumerable<WebBlotter.Models.SBP_BlotterOpening>

@{
    ViewBag.Title = "Blotter SetUp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>

<head>
    <style>
        #totalMe {
            font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
            font-size: 11px;
            border-collapse: collapse;
            width: 90%;
            min-width: 800px;
            max-width: 1500px;
        }

            #totalMe td, #totalMe th {
                border: 1px solid #ddd;
                padding: 8px;
                /*width: 50px*/
            }

            #totalMe tr:nth-child(even) {
                background-color: #f2f2f2;
            }

            #totalMe tr:hover {
                background-color: #ddd;
            }

            #totalMe th {
                padding-top: 12px;
                padding-bottom: 12px;
                text-align: left;
                background-color: #4CAF50;
                color: white;
            }
    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" language="javascript" src="//cdn.datatables.net/plug-ins/1.10.15/api/sum().js"></script>

</head>
<body>
    <h2>Blotter Opening Amount @ViewData["SysCurrentDt"]</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <div>     
            
            <table id="totalMe" class="table table-striped table-bordered table-hover ">
                <thead>
                    <tr>
                        <th>S.No.</th>
                        <th>Opening Amount</th>
                        <th>Date</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
            {
                        <tr>
                            <td> @Html.DisplayFor(modelItem => item.SNo)</td>
                            <td  align="right">@Html.DisplayFor(modelItem => item.TodayAmount)</td>
                            <td>@Html.DisplayFor(modelItem => item.CurrentDate)</td>

                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.SNo }) |
                                @Html.ActionLink("Details", "Details", new { id = item.SNo }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.SNo })
                            </td>
                        </tr>

                    }

            </table>
</div>
</body>
</html>