@model WebBlotter.Models.SBP_BlotterFundingRepo

@{

    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/css/Custom.css" rel="stylesheet" />
<style>
    input {
        width: 100px !important;
    }

    .date_input {
        width: 150px !important;
    }

    .dropdown_input {
        width: 100px !important;
    }
</style>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script type="text/javascript">
    var counter = 1;
    $(function () {
        //------------Add New Row---------------
        var DataType = (@Session["BR"].ToString() == '01') ? '<select name="DataType[' + counter + ']" class="form-control dropdown_input"> <option value="SBP">State Bank of Pakistan</option></select >'
            :
            '<select name="DataType[' + counter + ']" class="form-control dropdown_input">' +
            '<option value = "SBP" >State Bank of Pakistan</option > ' +
            '<option value="HBLC">Inter Branch Account</option> </select >';
        $('#add').click(function () {
            $('<tr id="tablerow' + counter + '">' +
                '<td>' +
                '<input type="checkbox" name="chk[' + counter + ']" />' +
                '</td>' +
                '<td>' +
                '<input type="text" class="form-control" maxlength="40" onkeypress="return checkString()" name="Bank[' + counter + ']" value="" />' +
                '</td>' +
                '<td>' +
                '<input type="number" class="form-control" maxlength="3" name="Days[' + counter + ']" value="" />' +
                '</td>' +
                '<td>' +
                '<input type="text" class="form-control" maxlength="11" onkeypress="return isNumberKey()" name="Rate[' + counter + ']" value="" />' +
                '</td>' +
                '<td>' +
                '<select name="DealType[' + counter + ']" class="form-control dropdown_input">' +
                '<option value = "Rev Repo" > Rev Repo</option > ' +
                '<option value="Repo">Repo</option>' +
                '<option value="Call Lend">Call Lend</option>' +
                '<option value="Call Borrow">Call Borrow</option>' +
                '<option value="OMO">OMO</option>' +
                '</select >' +
                '</td>' +
                '<td>' +
                '<select name="Broker[' + counter + ']" class="form-control dropdown_input">' +
                    '<option value="Arif Habib">Arif Habib</option>' +
                    '<option value="BMA">BMA</option>' +
                    '<option value="Bright">Bright</option>' +
                    '<option value="CMKA">CMKA</option>' +
                    '<option value="CNM">CNM</option>' +
                    '<option value="Continental">Continental</option>' +
                    '<option value="CMKA">CMKA</option>' +
                    '<option value="Icon">Icon</option>' +
                    '<option value="IONE">IONE</option>' +
                    '<option value="JS">JS</option>' +
                    '<option value="Magenta">Magenta</option>' +
                    '<option value="Optimus">Optimus</option>' +
                    '<option value="Phone">Phone</option>' +
                    '<option value="Pearl">Pearl</option>' +
                    '<option value="Paramount">Paramount</option>' +
                    '<option value="Paramount">Paramount</option>' +
                    '<option value="Vector">Vector</option>' +
                    '<option value="Phone">Phone</option>' +
                    '<option value="Reuters">Reuters</option>' +
                '</select>' +
                '</td>' +
                '<td>' +
                '<input type="date" class="form-control date_input" name="Issue_Date[' + counter + ']" value="@DateTime.Now.ToString("yyyy-MM-dd")" required />' +
                '</td>' +
                '<td>' +
                '<select name="IssueType[' + counter + ']" class="form-control dropdown_input">' +
                '<option value="TB 3M" > TB 3M</option >' +
                '<option value = "TB 6M" > TB 6M</option > ' +
                '<option value = "TB 1Y" > TB 1Y</option > ' +
                '<option value = "PIB 3Y" > PIB 3Y</option > ' +
                '<option value = "PIB 5Y" > PIB 5Y</option > ' +
                '<option value = "PIB 7Y" > PIB 7Y</option > ' +
                '<option value = "PIB 10Y" > PIB 10Y</option > ' +
                '<option value = "PIB 3Y FL" > PIB 3Y FL</option > ' +
                '<option value = "PIB 5Y FL" > PIB 5Y FL</option > ' +
                '<option value = "PIB 10Y FL" > PIB 10Y FL</option > ' +
                '<option value = "PIB 15Y" > PIB 15Y</option > ' +
                '<option value = "PIB 3Y FLQ" > PIB 3Y FLQ</option > ' +
                '<option value = "PIB 5Y FLQ" > PIB 5Y FLQ</option > ' +
                '<option value = "PPIB 10Y FLQ" > PIB 10Y FLQ</option > ' +
                '</select >' +
                '</td>' +
                '<td>' +
                '<input type="text" class="form-control" maxlength="11" onkeypress="return isNumberKey()" name="InFlow[' + counter + ']" value="" />' +
                '</td>' +
                '<td>' +
                '<input type="text" class="form-control" maxlength="11" onkeypress="return isNumberKey()" name="OutFlow[' + counter + ']" value="" />' +
                '</td>' +
                '<td>' +
                '<input type="text" class="form-control" name="Note[' + counter + ']" value="" />' +
                '</td>' +
                //'<td>' +
                //'<button type="button" class="btn btn-primary" onclick="removeTr(' + counter + ');">Remove</button>' +
                //'</td>' +
                '</tr>').appendTo('#customer');
            counter++;
            return false;
        });

        $("#deleteRow").click(function () {
            debugger;
            var table = $("#customer");
            var count = table.find("tbody tr").length;
            var selectcount = 0;
            table.find("tbody tr").each(function () {
                if ($(this).find("input[type=checkbox]").is(":checked")) {
                    selectcount++;
                }
            });
            if (selectcount == count) {
                alert("Cannot delete all rows");
            } else {
                table.find("tbody tr").each(function () {
                    if ($(this).find("input[type=checkbox]").is(":checked")) {
                        $(this).remove();
                    }
                });
            }
        });
    });
    function removeTr(index) {
        if (counter > 1) {
            $('#tablerow' + index).remove();
            counter--;
        }
        return false;
    }


    
        function isNumberKey() {

            if ((event.keyCode == 8) || (event.keyCode == 32) || (event.keyCode > 42 && event.keyCode < 58))
                return true;
            else {
                alert("Please Enter Valid Number");
                return false;
            }
    }

    function checkString() {

        if ((event.keyCode == 8) || (event.keyCode == 32) || (event.keyCode > 64 && event.keyCode < 91) || (event.keyCode > 96 && event.keyCode < 123))
            return true;
        else {
            alert("Please Enter Valid Name");
            return false;
        }
    }
    
</script>

<h3>Create Funding Repo</h3>

@*@if (TempData["DataStatus"] != "Data not available" && TempData["DataStatus"] != null)
{
    <div class="snackbar btn btn-success bg-info px-3 py-3">@TempData["DataStatus"]</div>
}
else
{
    <h2 class="alert-dark">@TempData["DataStatus"]</h2>
}*@

@using (Html.BeginForm("_Create", "BlotterFundingRepo", FormMethod.Post))
{
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <p>
        <button id="add" class="btn btn-primary">Add New Row</button>
        <input id="deleteRow" type="button" class="btn btn-danger" value="Delete" />
    </p>
    <fieldset>
        <table id="customer" class="table table-bordered">
            <thead>
                <tr>
                    <th>Remove</th>
                    @if (@Session["BR"].ToString() != "01")
                    {
                        <th>Data Type</th>
                    }
                        <th>Bank</th>
                        <th>Days</th>
                        <th>Rate</th>
                        <th>Deal Type</th>
                        <th>Broker</th>
                        <th>Issue Date</th>
                        <th>Issue Type</th>
                        <th>In Flow</th>
                        <th>Out FLow</th>
                        <th>Note</th>
                    </tr>
            </thead>
            <tbody>
                <tr id="tablerow0">
                    <td>
                        <input type="checkbox" name="chk[0]" />
                    </td>
                    @if (@Session["BR"].ToString() != "01")
                    {
                        <td>
                            <div>

                                
                                <select name="DataType[0]" class="form-control dropdown_input">

                                    <option value="SBP">State Bank of Pakistan</option>

                                    <option value="HBLC">Inter Branch Account</option>
                                </select>
                                
                                @*<input class="form-control" name="DataType[0]" type="text" value="" />*@
                            </div>
                        </td>
                    }
                        <td>
                            <div>
                                <input class="form-control" maxlength="40" onkeypress="return checkString()"  name="Bank[0]" type="text" value="" />
                            </div>
                        </td>
                        <td>
                            <div>
                                <input class="form-control" maxlength="3" name="Days[0]"  type="number" value="" />
                            </div>
                        </td>
                        <td>
                            <div>
                                <input class="form-control" maxlength="11" name="Rate[0]" onkeypress="return isNumberKey()" type="text" value="" />
                            </div>
                        </td>
                        <td>
                            <div>
                                <select name="DealType[0]" class="form-control dropdown_input">
                                    <option value="Rev Repo">Rev Repo</option>
                                    <option value="Repo">Repo</option>
                                    <option value="Call Lend">Call Lend</option>
                                    <option value="Call Borrow">Call Borrow</option>
                                    <option value="OMO">OMO</option>
                                </select>
                            </div>
                        </td>
                        <td>
                            <div>
                                <select name="Broker[0]" class="form-control dropdown_input">
                                    <option value="Arif Habib">Arif Habib</option>
                                    <option value="BMA">BMA</option>
                                    <option value="Bright">Bright</option>
                                    <option value="CMKA">CMKA</option>
                                    <option value="CNM">CNM</option>
                                    <option value="Continental">Continental</option>
                                    <option value="CMKA">CMKA</option>
                                    <option value="Icon">Icon</option>
                                    <option value="IONE">IONE</option>
                                    <option value="JS">JS</option>
                                    <option value="Magenta">Magenta</option>
                                    <option value="Optimus">Optimus</option>
                                    <option value="Phone">Phone</option>
                                    <option value="Pearl">Pearl</option>
                                    <option value="Paramount">Paramount</option>
                                    <option value="Paramount">Paramount</option>
                                    <option value="Vector">Vector</option>
                                    <option value="Phone">Phone</option>
                                    <option value="Reuters">Reuters</option>
                                </select>
                            </div>
                        </td>
                        <td>
                            <div>
                                <input class="form-control date_input" name="Issue_Date[0]" type="date" value="@DateTime.Now.ToString("yyyy-MM-dd")" required />
                            </div>
                        </td>
                        <td>
                            <div>
                                <select name="IssueType[0]" class="form-control dropdown_input">
                                    <option value="TB 3M">TB 3M</option>
                                    <option value="TB 6M">TB 6M</option>
                                    <option value="TB 1Y">TB 1Y</option>
                                    <option value="PIB 3Y">PIB 3Y</option>
                                    <option value="PIB 5Y">PIB 5Y</option>
                                    <option value="PIB 7Y">PIB 7Y</option>
                                    <option value="PIB 10Y">PIB 10Y</option>
                                    <option value="PIB 3Y FL">PIB 3Y FL</option>
                                    <option value="PIB 5Y FL">PIB 5Y FL</option>
                                    <option value="PIB 10Y FL">PIB 10Y FL</option>
                                    <option value="PIB 15Y">PIB 15Y</option>
                                    <option value="PIB 3Y FLQ">PIB 3Y FLQ</option>
                                    <option value="PIB 5Y FLQ">PIB 5Y FLQ</option>
                                    <option value="PPIB 10Y FLQ">PIB 10Y FLQ</option>
                                </select>
                            </div>
                        </td>
                        <td>
                            <div>
                                <input class="form-control" maxlength="11" onkeypress="return isNumberKey()" name="InFlow[0]" type="text" value="" />
                            </div>
                        </td>
                        <td>
                            <div>
                                <input class="form-control" maxlength="11" onkeypress="return isNumberKey()" name="OutFLow[0]" type="text" value="" />
                            </div>
                        </td>
                        <td>
                            <div>
                                <input class="form-control" name="Note[0]" type="text" value="" />
                            </div>
                        </td>
                    </tr>
            </tbody>
        </table>
        <hr />
        <p>
            <input type="submit" value="Save" class="form-control primary-btn1" />
        </p>
    </fieldset>
}
